@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --azul: #ffffff;
    --azulOscuro: rgb(238, 238, 238);
    --azulGris: #3c91e6;
    --blanco: #e6e5e5;
    --negro: rgb(0, 0, 0);
    --fuente: 'Quicksand', sans-serif;
}

body {
    background: #2e323a;
    font-family: var(--fuente);
    display: flex;
    align-items: center;
    height: 100vh;
}

.contenedor {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    justify-content: center;
}

.formulario {
    height: 600px;
    box-shadow: 5px 5px 40px;     
    padding: 100px;
    background-color: var(--azul);
}

.texto-formulario h2,
.texto-formulario p,
.texto-formulario h3 {
    color: #3c91e6;
}

.texto-formulario h2 {
    font-size: 40px;
    text-align: center;
}

.texto-formulario h3 {
    font-size: 30px;
    text-align: center;
}

.texto-formulario p {
    font-size: 22px;
    text-align: center;
}

.input label,
.password-olvidada a,
.texto-formulario p {
    color: var(--negro);
}

.input input {
    width: 100%;
    padding: 10px 16px;
    outline: none;
}

.input input[type="submit"] {
    background-color: var(--azulGris);
    color: var(--blanco);
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    transition: background-color .3s ease-in-out;
}

.input input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--azulOscuro);
}

.inputContainer {
    position: relative;
    height: 60px; /* Ajusta la altura según tus preferencias */
    width: 100%;
    margin-bottom: 25px;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none; /* Quité el borde para un diseño más limpio */
    border-bottom: 2px solid #DADCE0; /* Añadí un borde inferior */
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
    transition: border-bottom 0.3s ease-in-out; /* Animación para el borde inferior */
}

.label {
    top: 15px;
    left: 20px; /* Ajusté la posición para que no esté pegada al borde */
    padding: 0 4px;
    background-color: var(--azul);
    color: #686767;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    top: -25px; /* Ajusté la posición al enfocar */
    font-size: 14px;
    font-weight: 600;
    color: #3c91e6;
}

.input:focus {
    border-bottom: 2px solid #3c91e6; /* Color del borde inferior al enfocar */
}

.submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: #3421C0;
    color: white;
    border-radius: 1px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.submitBtn:hover {
    background-color: #1602af;
    transform: translateY(-2px);
}
